/* clear out the font based icon */
.largePlayBtn.icon-play:before {
    content: "";
}
/* replace play button with jack-o-lantern: */
.mwPlayerContainer .largePlayBtn, .mwPlayerContainer .largePlayBtn:hover{
    background-image: url('https://www.smu.edu.sg/sites/all/themes/smubase/smu_logo_m.svg');
    background-size: 93px 100px;
    width:93px;
    height:100px;
    padding: 0px;
    margin:-50px;
}

.largePlayBtn {
	background: url("https://www.smu.edu.sg/sites/all/themes/smubase/smu_logo_m.svg") !important;
}
