/*.playlistAPI .horizontalHeaderLables {
	padding-top: 5px !important;
}
.playlistAPI .playlistControls.k-horizontal{
	top: 5px !important;
}
*/
.playlistAPI .chapterBox{
	height: 200px !important;
}
.playlistAPI .k-thumb {
	float: left !important;
	width: 86px !important;
	height: 49px !important;
}
.playlistAPI .k-title-container {
font-size: 1em !important;
font-family: 'Oswald', sans-serif !important;
}
.playlistAPI .k-chapters-container .k-description-container {
	font-family: 'Open Sans', Calibri, Arial, sans-serif !important;
	font-weight: 500 !important;
	line-height: 20px !important;
}
.playlistAPI .k-chapters-container .k-description {
	display: block;
	color: #888888;
	font-size: 0.9em;
}
.playlistAPI .k-chapters-container .k-duration {
	color: white !important;
	text-shadow: 1px 1px black;
}

.playlistAPI .k-views-container {
	font-size: 1em !important;
	color: #8A704C;
}
.playlistAPI .k-chapters-container .k-scroll {
	opacity: 100 !important;
}

