/*.playlistAPI .horizontalHeaderLables {
	padding-top: 5px !important;
}
.playlistAPI .playlistControls.k-horizontal{
	top: 5px !important;
}
*/
.playlistAPI .chapterBox{
	height: 90px !important;
}
.playlistAPI .k-thumb {
	float: left !important;
	width: 130px !important;
	height: 74px !important;
}
.playlistAPI .k-chapters-container .k-duration {
	top: 40px !important;
	left: 70px !important;
	color: white !important;
	text-shadow: 2px 2px black !important;
}
.playlistAPI .k-title-container {
	margin-left: 2px !important;
	margin-top: 54px !important;
	font-size: 12px !important;
	width: 150px !important;
}
.playlistAPI .k-views-container {
	font-size: 10px !important;
	color: #8A704C;
}
.playlistAPI .k-scroll .k-next {
	opacity: 100 !important;
}
