<ul>
 <% for ( var i = 0; i < mediaList.length; i++ ) { %> <%var mediaItem = mediaList[i];%>
<% if (meta.layout == "hotizontal") { %> style="width: <%= mediaItem.width %>px " <% } %> <% if (i > 0) { %> <% } %>
<% if( meta.includeThumbnail) { %>
Thumbnail for <%=mediaItem.title%>
<% } %> <% if( meta.includeChapterStartTime) { %> <%=mediaItem.startTimeDisplay%> <% } %> <% if( meta.includeItemNumberPattern) { %> <%=mediaItem.itemNumber%> <% } %> <% var chapterTitle = mediaItem.title; %> <%=chapterTitle%> <% var views = mediaItem.views; %>
views: <%=views%>
<% if( meta.includeMediaItemDuration) { %> <%=mediaItem.durationDisplay%> <% } %>
<% } %>
</ul>
