/*.playlistAPI .horizontalHeaderLables {
	padding-top: 5px !important;
}
.playlistAPI .playlistControls.k-horizontal{
	top: 5px !important;
}
*/

.playlistAPI .k-thumb {
	width: 86px !important;
	height: 48px !important;
}
.playlistAPI .k-chapters-container {
	font: normal 13px "Oswald", Helvetica, Arial, sans-serif !important;
}
.playlistAPI .k-chapters-container .k-title-container .k-title{
	font-family: 'Oswald', sans-serif !important;
	font-weight: 300 !important;
}
.playlistAPI .k-chapters-container .k-description {
	font-family: 'Open Sans', Calibri, Arial, sans-serif !important;
	font-style: Normal !important;
	font-weight: 400 !important;
	font-size: 0.9em !important;
	letter-spacing:0.5em !important;
}
.playlistAPI .k-chapters-container .k-duration {
	color: white !important;
	text-shadow: 1px 1px black;
}
.playlistAPI .k-chapters-container .k-scroll {
	opacity: 1 !important;
	color: #000000 !important;
}
.playlistAPI .k-chapters-container.k-horizontal .k-scroll.k-next {
	opacity: 1 !important;
	color: #000000 !important;
}

.playlistAPI .k-chapters-container.k-horizontal .k-scroll.k-right {
	opacity: 1 !important;
	color: #000000 !important;
}
