.playlistAPI .k-thumb {
	width: 86px !important;
	height: 48px !important;
}
.onpagePlaylistInterface .playlistAPI .k-chapters-container {
	font-family: 'Oswald', sans-serif !important;
}
.onpagePlaylistInterface .playlistAPI .k-chapters-container .k-title-container .k-title{
	font-family: 'Oswald', sans-serif !important;
}
.onpagePlaylistInterface .playlistAPI .k-chapters-container .k-description {
	font-family: 'Open Sans', Calibri, Arial, sans-serif !important;
	font-size: 0.9em !important;
}
.onpagePlaylistInterface {
	font: normal 20px "Myriad Web Pro Regular", Helvetica, Arial, sans-serif !important;
	background-color: #2d2d2d !important;
	color: #ffffff !important;
	overflow: hidden !important;
	padding: 0px !important;
	width: 100%;
	height: 100% !important;
	text-align: left !important;
}

.onpagePlaylistInterface .playlistAPI .k-thumb {
	width: 86px !important;
	height: 48px !important;
}
.onpagePlaylistInterface .playlistAPI .chapterbox .mediabox li::before {
  list-style-type: none1 !important;
	content: "ABC1" !important;
}
.onpagePlaylistInterface .playlistAPI .k-vertical li::before {
  list-style-type: none4 !important;
	content: "ABC4" !important;
}

.onpagePlaylistInterface .playlistAPI .k-chapters-container .k-vertical .ul li::before {
  list-style-type: none5 !important;
	content: "ABC5" !important;
}

.onpagePlaylistInterface .playlistAPI .k-chapters-container .k-vertical .ul ::before {
  list-style-type: none5 !important;
	content: "ABC5" !important;
}
.onpagePlaylistInterface .playlistAPI  li::before {
  list-style-type: none6 !important;
	content: "ABC6" !important;
}
.onpagePlaylistInterface .k-chapters-container .k-description-container .k-vertical {
	height: 200px !important;
}
.playlistAPI .k-chapters-container .k-description-container .k-vertical {
	height: 50px !important;
}
.onpagePlaylistInterface .playlistAPI .k-chapters-container .k-description-container .k-vertical {
	height: 50px !important;
}
