.playlistAPI .k-thumb {
	width: 86px !important;
	height: 48px !important;
}
.playlistAPI .k-chapters-container {
	font-family: 'Oswald', sans-serif !important;
}
.playlistAPI .k-chapters-container .k-title-container .k-title{
	font-family: 'Oswald', sans-serif !important;
}
.playlistAPI .k-chapters-container .k-description {
	font-family: 'Open Sans', Calibri, Arial, sans-serif !important;
	font-size: 0.9em !important;
}
.playlistAPI .chapterbox .mediabox li::before {
  list-style-type: none !important;
	content: "ABC" !important;
}
.playlistAPI .chapterbox .mediabox .active li::before {
  list-style-type: none !important;
	content: "ABC" !important;
}
.playlistAPI .li .chapterbox .mediabox ::before {
  list-style-type: none !important;
	content: "ABC" !important;
}
